.main-header {
    display: flex;
    justify-content: flex-end;
    background-color: #000;
    padding-right: 15px;
}

.main-header .logo {
    width: 60px;
    height: 60px;
    margin-right: 660px;
}